@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
html {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.main-wrapper {
    position: relative;
    z-index: 2;
    margin-bottom: 100svh;
}
/*header*/
.header {
    background-color: white;
    z-index: 10;
}
.headline {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 27px;
    left: 30px;
    color: white ;
    z-index: 3000;
}
.headline .name {
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.0;
}
.headline .sub {
    display: block;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.4em;
    margin-top: 3px;
    line-height: 1.4;
}
.is-scrolled .headline {
    color: black;
}
/*img*/
.fanImgHorizon {
    background: rgb(44, 44, 44);
    width: 100%;
    height: 102.5svh;
    overflow: hidden;
    z-index: 2;
}
.fanImgHorizon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
}


@media (min-width: 1421px) {
    
}
@media (max-width: 1420px) {
    
}
@media (min-width: 801px){
    .fanImgHorizon {display: block;}
    .fanImgVertical {display: none;}
}
@media (max-width: 800px){
    .fanImgHorizon {display: none;}
    .fanImgVertical {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60svh;
        width: 100%;
        overflow: hidden;
        background: rgb(44, 44, 44);
        z-index: 2;
    }
    .fanImgVertical img {
        height: 100%;
        width: auto;
        display: block;
        z-index: 2;
    }
} 
/*HamburgerBtn*/
.fanHamburger {
    position: fixed;
    width: 36px;
    height: 21px;
    right: 24px;
    top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    cursor: pointer;
    z-index: 3000;
}
.fanHamburger span {
    display: block;
    width: 100%;
    height: 1.4px;
    transition: all 0.3s;
    background-color: rgb(255, 255, 255);
}
.fanHamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(7.0px, 7.0px); 
}
.fanHamburger.open  span:nth-child(2) {
    opacity: 0;
}
.fanHamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7.0px, -7.0px);
}
.is-scrolled .fanHamburger span {
    background-color: black;
}

/*fanHbgMenuMenu*/
.fanHamburgerMenu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100svh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    z-index: 2900;
    transition: all 1.0s ease;
}
.fanHamburgerMenu.active {
    position: fixed;
    display: block;
}
.fanHamburgerMenu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.hbgHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white ;
    margin-bottom: 30px; 
}
.hbgHeader .name {
    display: block;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.08em;
    line-height: 1.1;
}
.hbgHeader .sub {
    display: block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.6em;
    line-height: 1;
}
.headerMenu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.headerMenu ul li {
    position: relative;
    display: block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.headerMenu a {
    display: block;
    text-decoration: none;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 18px;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    cursor: pointer;
}
.headerMenu a:hover {
    color: black;
    background-color: white;
}
.headerMenu ul span {
    display: inline-block;
    font-size: 22px;
    font-weight: 100;
    color: white;
    margin: 0 8px;
}
.normalMenu .headerMenu {
    background: none;
    position: static;
    width: 100%;
    opacity: 1;
    cursor: pointer;
}
.normalMenu a {
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
    cursor: pointer;
    transform: translateZ(0);
    transform-style: preserve-3d;
}
.normalMenu a:hover {
    text-decoration: underline;
}
.normalMenu li:nth-child(9)::after {
    content: "";
    display: block;
    width: 300px;
    height: 2px;
    margin: 0 auto;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hbgfooter a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}
.hbgfooter a:hover {
    background-color: white;
    color: black;
}

/*main*/
.main::before {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    top: -60px;
    height: 100px;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
}
.main {
    position: relative;
    margin: 40px 0;
    background-color: white;
    z-index: 2;
}
.main .button ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.main .button li {
    list-style: none;
    z-index: 2;
}
.main .button a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin: auto 20px;
    padding: 3px 6px;
    transition: all 0.3s ease;
}
.main .button a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: black;
    transition: all 0.3s ease;
    z-index: -1;
}
.main .button a:hover::before {
    height: 100%;
}
.main .button a:hover {
    color: rgb(255, 255, 255);
}
.main .button span {
    font-size: 24px;
    font-weight: 200;
}
.sectionTitle {
    font-size: 32px;
    font-weight: 200;
    left: 20px;
    padding: 60px 30px 0 0;
    margin: 0 0 0 15px;
}
.sectionContents li {
    list-style: none;
    height: 135px;
    background-color: rgb(255, 255, 255);
    margin: 50px 10px 0 0;
    z-index: 1;
}
.sectionContents li::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    margin: 30px 20px 20px 0;
    background-color: rgb(212, 212, 212);
}
.sectionContents a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sectionContents span {
    margin: 5px 0;
}
.sectionContents .year {
    font-size: 18px;
}
.sectionContents .day {
    font-size: 36px;
}
.sectionContents .content {
    position: relative;
}
.sectionContents .content::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: fit-content;
    transition: background-color 0.3s ease;
}
.sectionContents a:hover .content::before {
    background-color: rgb(229, 223, 183);
    width: fit-content;
}
.moreContents {
    position: relative;
    width: 150px;
    height: 50px;
    margin: 100px auto;
    border-bottom: 1.5px solid black;
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: backgroud-color 0.3s ease;
}
.moreContents::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: black;
    transition: height 0.3s ease;
    z-index: 0;
}
.moreContents:hover::before {
    height: 100%;
}
.moreContents a {
    position: relative;
    font-size: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1;
}
.moreContents:hover a {
    color: white;
}
.mainfooter {
    height: auto;
    width: 450px;
    margin: 50px auto;
}
.mainfooter .boderOutside {
    border: solid 1px black;
    padding: 10px;
    transition: all 0.3s ease;
}
.mainfooter .boderOutside:hover {
    transform: translateY(-2.5px);
    border-bottom: solid 2.5px black;
}
.mainfooter .boderInside {
    border: solid 1px black;
    display: block;
}
.mainfooter a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 12px 24px;
    cursor: pointer;
}
.mainfooter .name {
    display: block;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.08em;
    line-height: 1.1;
}
.mainfooter .sub {
    display: block;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 0.58em;
    line-height: 1;
}
.mainfooter .mainfooter-content {
    font-size: 24px;
    font-weight: 400;
}
/*footer*/
footer {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100svh;
    background-color: #f1f1f1;
    z-index: 1;
}
.footer-contents {
    position: absolute;
    top: 65%;
    display: inline-block;
}


/*main-fade-in*/
.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    background-color: rgb(255, 255, 255);
}
.fade-in.active {
    opacity: 1;
    transform: translateY(0);
}

.fade-in:nth-child(1) {
    transition-delay: 0s;
}
.fade-in:nth-child(2) {
    transition-delay: 0.2s;
}
.fade-in:nth-child(3) {
    transition-delay: 0.4s;
}
.fade-in:nth-child(4) {
    transition-delay: 0.6s;
}
.fade-in:nth-child(5) {
    transition-delay: 0.8s;
}

/*Loding*/
.loading-screen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9000;

    transition: opacity 1.0s ease;
}
.loaded {
    opacity: 0 !important;
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
